/* Reset */

	* {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	
	body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td { 
		margin: 0; 
		padding: 0;
		border: 0; 
	}
	
	body {
		background:#FFFFFF; 
		color: #030605; 
		font-size: 16px; 
		font-family: "Helvetica Neue"、Helvetica,"PingFang SC"、"Hiragino Sans GB”、"Microsoft YaHei"、"微软雅黑"、Arial、sans-serif 
	}
	
	td, th, caption { 
		font-size: 100%; 
	}
	
	h1, h2, h3, h4, h5, h6 { 
		font-weight: normal; 
		font-size: 100%; 
	}
	
	address, caption, cite, code, dfn, em, strong, th, var { 
		font-style: normal; 
		font-weight: normal;
	}
	
	a { 
		color: #555;
		text-decoration: none; 
	}
	
	img { 
		border: none; 
	}
	
	ol,ul,li { 
		list-style: none; 
	}
	
	input, textarea, select, button { 
		font: 100% Verdana, Helvetica, Arial, sans-serif; 
	}
	
	table { 
		border-collapse: collapse; 
	}
	
	html {
		overflow-y: scroll;
	} 
	
/*main-header*/
#content1 {
	width: 100%;
	height: 50em;
	color: #FFFFFF;
	background: 100% 0 #3C485E url(../img/header_background.jpg) no-repeat;
}

header{
	height: 5em;
}

header #small_logo{
	width: 50%;
	height: 5em;
	background: 50% 0 #3C485E;
	display: inline-block;
	vertical-align: middle;
}

header #slogo{
	width: 2.5em;
	margin-left: 10%;
	display: inline-block;
	line-height: 2em;
	vertical-align: middle;
}

#small_logo h1{
	display: inline-block;
	line-height: 2em;
	font-size: 2em;
	vertical-align: middle;
}

.sign{
	width: 3em;
	color: #FFFFFF;
	display: inline-block;
	line-height: 4.8em;
	background: 5em 0 #3C485E;
	text-align: center;
}

#signin{
	margin-left: 30%;
}

#left{
	width: 50%;
	height: 45em;
	background:#3C485E;
	float: left;
	display: inline-block;
	text-align: center;
}

#left img {
	width: 12.5em;
	margin-top: 7.5em;
}

#left h1{
	font-size: 3em;
	display: block;
}

#left p{
	width: 6.875em;
	font-size: 2.25em;
	border: 0.0625em solid #FFFFFF;
	display: inline-block;
	margin-top: 4em ;
	padding: 0.5em 1em;
}

/*section 2*/
#content2{
	background: 50% 385px url(../img/middle_line.png) no-repeat;
}

/*title*/
#title1{
	width: 100%;
	height: 400px;
	color: #0093E1;
	font-size: 3em;
	text-align: center;
}

#title1 h1{
	line-height: 400px;
	vertical-align: middle;
}

/*feature*/
.title2{
	color: #f25a29;
	font-size: 36px;
}

.paragraph{
	width: 400px;
	color: #3c485e;
	font-size: 24px;
}

.feature{
	width: 100%;
	height: 400px;
}

.queue{
	width: 400px;
	display: inline-block;
	text-align: center;
}

.queue_left{
	margin-left: 11%;
}

.queue_right{
	margin-left: 22%;
}

.slogan{
	text-align: left;
}

.feature_icon{
	margin-top: 75px;
}
/*special_feature*/
#special_feature{
	width: 100%;
	height: 800px;
}

#special_feature h1{
	font-size: 2.25em;
	text-align: center;
	color: #0093E1;
	padding-top: 150px;
}

.special_feature_content{
	width: 49%;
	display: inline-block;
	margin-top: 84px;
	text-align: center;
}

.special_feature_content h2{
	font-size: 36px;
	color: #F25A29;
	margin-top: 36px;
}

.special_feature_paragraph{
	width: 400px;
	font-size: 24px;
	margin-top: 36px;
	display: inline-block;
	text-align: left;
}
/*finish_slgan*/
#finish_slogan{
	width: 100%;
	line-height: 400px;
	color: #0093E1;
	font-size: 54px;
	text-align: center;
}

/*bookmark*/
#bookmark{
	width: 100%;
	height: 400px;
	background: #3C485E;
	color: #FFFFFF;
}

.bookmark_content{
	float: left;
}

#logo3{
	width: 200px;
	height: 200px;
	margin-top: 100px;
	margin-left: 11%;
}
#bookmark_slogan{
	height: 117px;
	margin-top: 142px;
	text-align: center;
}

#bookmark_slogan h3{
	font-size: 48px;
}

#bookmark_slogan p{
	font-size: 36px;
}

#bookmark_start{
	margin-top: 166px;
	margin-left: 24%;
	font-size: 36px;
	border: 1px solid #FFFFFF;
	border-radius: 16px;
	padding: 10px 30px;
}

#bookmark_start a{
	color: #FFFFFF;
}
/*footer*/
footer{
	width: 100%;
	height: 400px;
	text-align: center;
}

#problem{
	font-size: 48px;
	color: #0093E1;
	padding-top:55px ;
}

#help{
	font-size: 24px;
	color: #F25A29;
	border: 1px solid #F25A29;
	border-radius: 16px;
	display: inline-block;
	padding: 8px 21px;
	margin-top: 56px;
}

#basic_footer{
	font-size: 24px;
	margin-top: 96px;
	color: #3C485E;
}
